

* {
      font-family:"Lucida Grande"; 
    }

    body{
      padding:0px;
      margin:0px;
      background-color: #d8dfea;
    }

    .header{
       background-color:#3b5998;
       color:white;
       text-align:center;
       top:0px;
       width:100%;
       padding:5px;
    }
    form {
      width:40%;
      padding:20px 30px 20px 130px;
      border:3px solid #cbcbcb;
      margin:5px auto;
    }

    .textInput {
      margin-top:2px;
      height:28px;
      border:2px solid #5E6E66;
      font-size:16px;
      padding:1px;
      width:100%;
      text-align: center;
    }
    
    .error {
      color: #FF0000;
    }

    input[type=text]:focus  {
     background-color: lightblue;
    }

    input[type=email]:focus {
     background-color: lightblue;
    }

    input[type=password]:focus {
     background-color: lightblue;
    }

    input[type=password]:focus {
     background-color: lightblue;
    }


    input[type=submit] {
    background-color: #3b5998;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
    }

    